<p id="notice"><%= notice %></p>

<h1>Boards</h1>

<%= search_form_for @q, url: boards_path do |f| %>
  <%= f.search_field :title_cont, class: 'form-control', placeholder: '検索ワード' %>
  <%= f.search_field :text_cont, class: 'form-control', placeholder: '検索ワード' %>
  <%= f.submit '検索', class: 'btn btn-primary' %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.title %></td>
        <td><%= board.text %></td>
        <td><%= link_to 'Show', board %></td>
        <td><%= link_to 'Edit', edit_board_path(board) %></td>
        <td><%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board', new_board_path %>
